.container-form {
    max-width: 360px;
    padding: 24px;
    margin: 5px auto;
}

.feedback-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-label {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    letter-spacing: 0.04em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.input-email {
    margin-top: 8px;
    height: 40px;
    padding: 0px 16px;
}

.input-textarea {
    margin-top: 8px;
    height: 80px;
    padding: 8px 16px;
    resize: none;
}

.form-btn {
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 8px;
    width: 95px;
    height: 40px;
    background-color: #4e75ff;
    border-color: transparent;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
}

.form-btn:hover,
.form-btn:focus {
    background-color:#6c8cff;;
}