.gallery {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 24px;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 1128px;
}

.gallery-item {
    list-style: none;
    width: calc((100% - 24px * 2) / 3);
    height: 200px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal img {
    width: 1112px;
    height: 640px;
}